@* @page "/audio"
@inject SpotFoodApp.Service.AudioService AudioService
@inject SpotFoodApp.Service.TTSService TTSService

@using SpotFoodApp.DTO

<h3>Danh sách thuyết minh</h3>

@if (guides == null)
{
    <p>Loading...</p>
}
else if (!guides.Any())
{
    <p>Không có dữ liệu</p>
}
else
{
    @foreach (var item in guides)
    {
        <div style="margin-bottom:20px">
            <h4>@item.PoiName</h4>
            <p>@item.Description</p>

            @if (!string.IsNullOrEmpty(item.AudioUrl))
            {
                <audio controls src="@item.AudioUrl"></audio>
            }
            else
            {
                <button @onclick="() => Speak(item.Description)">
                    🔊 Nghe thuyết minh
                </button>
            }
        </div>
    }
}

@code {
    List<AudioGuideDto> guides = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            guides = await AudioService.GetAllGuides();
            Console.WriteLine("Loaded: " + guides.Count);
        }
        catch (Exception ex)
        {
            Console.WriteLine("ERROR: " + ex.Message);
        }
    }

    private async Task Speak(string text)
    {
        await TTSService.Speak(text);
    }
} *@